@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url(../common/common.css);

body { margin: 0; overflow: hidden; background-color: #87CEEB; }
canvas { display: block; }
#gameOverText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;
    color: red;
    display: none;
    text-shadow: 4px 4px 0px #000;
}
#score, #highScore {
    position: absolute;
    top: 10px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: black;
}
#score {
    left: 10px;
}
#highScore {
    left: 150px;
}
