@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "../common/common.css";

body {
    margin: 0;
    overflow: hidden;
    background-color: lightblue;
    font-family: Arial, sans-serif;
}
#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: red;
    display: none;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}